<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Suburb</th>
      <th>City</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  
  <tbody>
  <% @listings.each do |listing| %>
  
    <tr>


        <%= image_tag listing.picture if listing.picture.attached? %>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.category.name %></td>
        <td><%= listing.suburb %></td>
        <td><%= listing.city %></td>
        <td><%= listing.price %></td>
        <td><%= listing.deposit %></td>
        <td><%= listing.availability %></td>

        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) if user_signed_in? and listing.user.id == current_user.id  %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? and listing.user.id == current_user.id  %></td>
      </tr>

   <% end %>
  
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
