
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<%= image_tag @listing.picture if @listing.picture.attached? %>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @listing.suburb %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @listing.deposit %>
</p>

<p>
  <strong>From:</strong>
  <%= @listing.from %>
</p>


<p>
  <strong>To:</strong>
  <%= @listing.to %>
</p>


<p>
  <strong>User:</strong>
  <%= @listing.user.email %> 
</p>



<button data-stripe="payment">
  Pay Deposit <%= number_to_currency(@listing.deposit) %>
</button>

     
  <script src="https://js.stripe.com/v3/"></script>
     
     <script>
       document
         .querySelector("[data-stripe='payment']")
         .addEventListener("click", () => {
           const stripe = Stripe(
             "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
           );
     
           stripe.redirectToCheckout({
             sessionId: "<%= @session_id %>"
           });
         });
     </script>


<%= link_to 'Edit', edit_listing_path(@listing) if user_signed_in? and @listing.user.id == current_user.id %> |
<%= link_to 'Back', listings_path %>
</div>