<h1><%= @conversation.subject %></h1>
<% @conversation.receipts_for(current_user).each do |receipt| %>
    <p>-------------------------------------</p>
    <div>
    <p><strong>Sent at:</strong>  <%= receipt.message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></p>
    <p><strong>Username:  </strong><%= receipt.message.sender.name %></p> 
    </div>
    <div>
    
    <p><strong>Message:</strong>  <%= receipt.message.body %></p> 
    </div>

    <%end%>

    <%= form_tag conversation_messages_path(@conversation), method: :post do %>
        <div>
        <%=text_area_tag :body %>
        </div>
        <%=submit_tag %>
        <% end %>

     
 <%= link_to "Conversations", conversations_path %>
<<<<<<< HEAD
=======
 <%= link_to 'Users', users_path %>

>>>>>>> messages
 