<p id="notice"><%= notice %></p>
<h1>User Profile</h1>

<p>
  <strong>Name:</strong>
  <%= full_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %></p>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %></p>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %></p>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %></p>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.bio %></p>
</p>

<p>
  <strong>Listings:</strong>
  <% @user_listings.each do |listing| %>
    <%=link_to listing.title, listing_path(listing) %>
    <%end%>
</p>

<div>
<% if current_user.id == @user.id  %>
<%=link_to "Edit Profile", edit_user_registration_path(@user) %>|
<%=link_to "Users ", users_path%>|
<%=link_to "Listings", listings_path%>|
<% else %>
<%#=link_to "Edit Profile", edit_user_registration_path(@user) %>|
<%=link_to "Users ", users_path%>|
<%=link_to "Listings", listings_path%>|
<% end %>

<%#= link_to 'Users', users_path %>
<%#= link_to "Conversations", conversations_path %> 
