<!DOCTYPE html>
<html>
  <head>
    <title>Campingo Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <%= link_to 'Your Conversations', conversations_path %></li>
<% else %>
  <%= link_to "login", new_user_session_path %>
<% end %>

  <%#= link_to "logout", destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>

</html>
